.Login {
  margin: 10% auto;
  width: 30%;
  border: 1px solid #eee;
  box-shadow: 0 5px 10px #ccc;
  border-radius: 5px;
  padding: 30px;
}

.Login .inputField {
  width: 90%;
}

.Login button {
  margin: 20px 0;
  width: 80%;
}
